node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/generated

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Docker Compose file
compose.yaml

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# SpecStory files
.specstory/ai_rules_backups

# Serena's Caches
.serena/cache